body {
    font-family: sans-serif;
    text-align: center;
}

h1{ font-size: 400%;
}

img{
    border: 4px solid lightblue;
}
figcaption{
    font-size: 90%;
    font-weight: bold;
}
figcaption:first{
    font-style: italic;
}
h2{
    margin: auto;
    border-top: 1px solid black;
    width: 300px;
    margin-top: 0em;
    margin-bottom: 0em;
}
.blue{
    background: rgb(194,213,239);
}
.cloud{
    background: rgb(251,231,213);
}
.ligon{
    background: rgb(213,145,144);
    
}

p{
    margin: auto;
    width: 300px;
    margin-top: 0em;

    text-align: center
}
